<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/head') %>
</head>
<body>
    <header>
            <h1>FakeFlix</h1>
        <nav>
            <%- include('./components/nav') %>
        </nav>
    </header>
    
    <main>

        <div class="container">
            <span><% if(message != ""){ message } %></span>
            <form method="POST" action="/editar/<%= filme.id %>">
                <div class="item">
                    <input type="text" placeholder="Digite o nome do filme" name="nome" value="<%= filme.nome %>" required>
                </div>
                <div class="item">
                    <textarea placeholder="Digite a descrição do filme" name="descricao" ><%= filme.descricao %></textarea>
                </div>
                <div class="item">
                    <input type="text" placeholder="Digite a URL da capa" name="imagem" value="<%= filme.imagem %>" required>
                </div>
                <div class="item">
                    <Button type="submit">Salvar alteração</Button>
                </div>
                <!-- <input type="hidden" id="teste" name="teste"> -->
            </form>
        </div>

        </main>
    <footer>   
        <%- include('./components/footer') %>
    </footer> 
    <script src="js/script.js"></script> 
</body>
</html>